.notice{
    height: 41px;
   
   position: relative;
   top:-385px;
   .content{
       height: 41px;
       border-bottom:1px solid #ccc; 
     
       text-indent: 40px;
       .name{
        color: #ed008c;
        float: left;
        line-height: 43px;
       }
       .swiper{
         
        width: 600px;
        height: 41px;
        line-height: 48px;
        overflow: hidden;
      
           .wrapper p {
              color: #666;
            font-size: 12px;
            padding: 0;
            margin: 0;
            margin-left: -25px;
            .s{
                margin-left: 40px;
              
            }
          }
       }

   }
}