.layout {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 851px;
}

.layout .main {
  height: 552px;
}

.layout .main .con {
  height: 552px;
  padding: 26px 0;
}

.layout .main .con .title {
  height: 22px;
  color: #333;
  font-size: 20px;
  margin: 38px 0 24px;
  text-align: center;
}

.layout .main .con .common {
  width: 330px;
  height: 195px;
  margin: 0 454px;
  padding: 17px 0 8px;
}

.layout .main .con .common .box {
  width: 330px;
  height: 130px;
}

.layout .main .con .common .box .toLogin {
  width: 93px;
  height: 32px;
  display: block;
  color: #666;
  margin-top: 20px;
}

.layout .main .con .common .box .toLogin .colorPink {
  color: #ed008c;
}

.layout .main .con .common .box .submitbtn {
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  margin: 20px 0 10px 0;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f67fc6), to(#ff9ebb));
  background-image: linear-gradient(90deg, #f67fc6, #ff9ebb);
}

.layout .main .con .common .box .submitbtn .submit {
  height: 50px;
  color: #fff;
  width: 100%;
  line-height: 50px;
  text-align: center;
}

.layout .main .con .common .box .radiobox {
  height: 43px;
  margin: 100px 0 0 20px;
}

.layout .main .con .common .box .radiobox .radiowrap1 {
  width: 346px;
  height: 18px;
  color: #666;
  margin: 6px 0 0;
  top: 30px;
  position: relative;
}

.layout .main .con .common .box .radiobox .radiowrap1 a {
  color: #ed008c;
}

.layout .main .con .common .box .radiobox .radiowrap1 .radio {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  left: -3px;
  top: 3px;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.layout .main .con .common .box .radiobox .radiowrap1 .checked {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  left: -3px;
  top: 3px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background: url(../images/register.png) no-repeat;
  background-size: 100%;
  border: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 1px 1px;
}

.layout .main .con .common .box .radiobox .radiowrap {
  width: 346px;
  height: 18px;
  color: #666;
  margin: 6px 0 0;
  position: absolute;
}

.layout .main .con .common .box .radiobox .radiowrap a {
  color: #ed008c;
}

.layout .main .con .common .box .radiobox .radiowrap .radio {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  left: -3px;
  top: 3px;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.layout .main .con .common .box .radiobox .radiowrap .checked {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  left: -3px;
  top: 3px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background: url(../images/register.png) no-repeat;
  background-size: 100%;
  border: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin: 1px 1px;
}

.layout .main .con .common .box .form {
  height: 43px;
}

.layout .main .con .common .box .form .pwd1 .error-tel {
  /* display: none; */
  position: relative;
  display: block;
  width: 200px;
  height: 16px;
  color: #ed008c;
  font-size: 14px;
  top: 5px;
}

.layout .main .con .common .box .form .pwd1 .error-tel img {
  margin-top: 2px;
  margin-right: 5px;
  display: block;
}

.layout .main .con .common .box .form .pwd1 .hidden {
  display: none;
}

.layout .main .con .common .box .form .pwd2 .error-password {
  /* display: none; */
  display: block;
  width: 200px;
  height: 16px;
  font-size: 14px;
  color: #ed008c;
  margin-top: 5px;
}

.layout .main .con .common .box .form .pwd2 .error-password img {
  margin-top: 2px;
  margin-right: 5px;
  display: block;
}

.layout .main .con .common .box .form .pwd2 .hidden {
  display: none;
}

.layout .main .con .common .box .form .pwd {
  height: 43px;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
}

.layout .main .con .common .box .form .pwd .icon {
  position: absolute;
  left: 900px;
  top: 260px;
  width: 14px;
  opacity: 0;
  height: 17px;
  display: block;
  background: url(../images/clear.png) no-repeat;
  background-size: 100%;
}

.layout .main .con .common .box .form .pwd .mobile {
  height: 43px;
  padding: 10px 0;
  width: 100%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  border: none;
}

.layout .logo {
  height: 98px;
  background: white;
}

.layout .logo .brand {
  width: 600px;
  height: 98px;
}

.layout .logo .brand h1 {
  height: 98px;
  line-height: 98px;
}

.layout .logo .brand h1 img {
  width: 170px;
  height: 45px;
  padding: 20px 0;
}

.layout .logo .solgan {
  width: 390px;
  height: 44px;
  margin: 20px 0 0 20px;
}

.layout .logo .solgan .desc {
  color: #ed008c;
  font-size: 16px;
}

.layout .logo .solgan .highlight {
  width: 390px;
  height: 18px;
  margin: 10px 0 0 0;
}

.layout .logo .solgan .highlight li {
  width: 92px;
  height: 18px;
}

.layout .logo .solgan .highlight li .light {
  color: black;
}
/*# sourceMappingURL=register.css.map */