body{
    background: #f6f6f6;
}

.cart{
    height: 500px;
   background: #fff;
   border-radius: 12px;
   margin-top: 10px;
    .right{
        float: right;
        color: #ed008c;
        font-size: 14px;
        span{
            color: #ed008c;
            margin-top: 5px;
            font-size: 14px;
        }
        b{
            color: #000;
            font-size: 14px;
        }
        .s{
            display: block;
            float: right;
            width: 100px;
            height:40px;
            background: #ed008c;
            border-radius: 25px;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            color: #fff;
            margin-top: -13px;
            margin-left: 10px;
        }
    }
    tbody{
        width: 1090px;
        height: 50px;
        input{
            border-radius: 50%;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid #ed008c;   
        }
        td{
            width: 137px;
            height: 106px;
            text-align: center;
            
            .name{
                display: block;
                width: 300px;
                height: 30px;
                margin-left: 120px;
                margin-top: 10px;
            }
            img{
                margin-left: 220px;
               
            }
        }
       td:nth-child(2){
         width:550px;
       
       }
       td:nth-child(4) span{
           display: block;
           float: left;
           margin-left:25px;
            cursor: pointer;
       }
       td:nth-child(4) .num{
           float: left;
           cursor: default;
           display: block;
           width: 40px;
           height: 20px;
           background: #ccc;
           border-radius: 20px;
         
       }
       td:nth-child(3),td:nth-child(5){
       font-size: 16px;
        color:#ed008c;
      }
       td:nth-child(1){
       text-align: left;
      }
    }
    
    thead{
        width: 1090px;
        height: 18px;
         input{
                border-radius: 50%;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid #ed008c;   
            }
        th{
            width: 127px;
            height: 50px;
           
        }
       th:nth-child(2){
         width:550px;
       }
       th:nth-child(1){
       text-align: left;
      }
    }
}